.st-search-summary h2 {
  text-align: left;
}

.st-query {
  font-weight:bold ;
  color: $base-color !important;
}

.st-results {
  h3, {
    text-align: left;
    a {
      color: $base-color !important;
      text-decoration: none !important;
    }
  }

  em {
    color: $base-color;
    font-weight: bold;
    font-style: normal;
  }
}