@import "screen";
@import "components/buysellads";
@import "components/swiftype";
@import "components/form";
@import "components/pace";

/* Elements in post-container */
  .post-container a {
    color: $base-color;
    &:hover {
      color: $hover-color;
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  h2 {
    margin: 1.5em 0 .5em;
    font-size: 1.2em;
  }

  /* Displays source link and dates published */
  .meta {
    color: scale-lightness($text-color, 40%);
    text-align: center;
    font-size: .8em;
  }

  .post-container {
    img {
      margin: 0 1%;
      max-width: 98%;
      -webkit-box-shadow: 0 0 3px 1px $box-shadow;
      -moz-box-shadow: 0 0 3px 1px $box-shadow;
      box-shadow: 0 0 3px 1px $box-shadow;
    }
    iframe {
      width: 100%;
    }
  }

  a img {
    border: none;
    vertical-align: top;
  }

  .update {
    box-sizing: border-box;
    margin: 1.1em 0;
    padding: .5em;
    border-radius: 2px;
    background-color: scale-lightness($base-color, 90%);
    p {
      margin: 0;
    }
  }

  .read-more {
    text-align: center;
    a {
      display: inline-block;
      margin: .2em 0;
      padding: .8em 1.5em;
      font-size: .8em;
      line-height: 1em;
    }

    a {
      $read-more-color: scale-lightness($text-color, 50%);
      border: solid .15em $read-more-color;
      border-radius: 18em;
      color: $read-more-color;
      text-shadow: none;
      &:hover {
        border: solid .15em $hover-color;
      }
    }
  }

  .footnotes {
    border-top: solid 1px scale-lightness($bg-color, -15%);
    font-weight: normal;
    font-size: .75em;
    p { margin: 0; }
    hr { display: none; }
    ol {
      margin: 0;
      padding: 1em 1em 0 3em;
      border-top: solid 1px scale-lightness($bg-color, 25%);
    }
  }

  .form.subscribe {
    font-size: .8em;
  }

  // Readers Support
  .support {
    margin: 5em 0 3em;
    border-top: solid 1px scale-lightness($bg-color, -15%);
    text-align: left;
    text-shadow: none;
    font-size: .8em;
    &:before {
      display: block;
      border-top: solid 1px scale-lightness($bg-color, 25%);
      content: "";
    }

    p {
      margin: 1em 0;
    }
  }

 /* PREVIOUS-NEXT LINKS */

  .post-container {
    nav {
      overflow: hidden;
      font-size: 0.75em;
      line-height: 1.5em;
    }
  }

    .newer, .older {
      padding: 1em 0;
    }

    .newer {
      float: left;
      width: 48%;
    }

    .older {
      float: right;
      width: 48%;
      text-align: right;
    }
