@import "screen";
@import "components/buysellads";
@import "components/swiftype";

  /* Elements in post-container */
    .post-container a {
      color: $base-color;
      &:hover {
        color: $hover-color;
      }
    }

    h1 {
      margin-bottom: 0;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    h2 {
      margin: 1.5em 0 .5em;
      font-size: 1.2em;
    }

    /* Displays source link and dates published */
    .meta {
      color: #999;
      text-align: center;
      font-size: .8em;
    }

    .post-container {
      img {
        margin: 0 1%;
        max-width: 100%;
        width: 98%;
        -webkit-box-shadow: 0 0 3px 1px #969799;
        -moz-box-shadow: 0 0 3px 1px #969799;
        box-shadow: 0 0 3px 1px #969799; }
      iframe {
        width: 100%;
        height: auto; }
    }

      a img {
        border: none;
        vertical-align: top; }

    .update {
      box-sizing: border-box;
      margin: 1.1em 0;
      padding: .5em;
      border:  4px solid;
      background-color: #1D1F20;
      color: #BBAF6C;
      text-shadow: none;
      p { margin: 0; }
    }

    .footnotes {
      border-top: dotted 1px #c8c8c8;
      font-weight: normal;
      font-size: .75em;
      p { margin: 0; }
      hr { display: none; }
      ol {
        margin: 0;
        padding: 1em 1em 0 3em;
        border-top: dotted 1px #F5F7FA;
      }
    }

    // Readers Support
    .support {
      margin-bottom: 4em;
      border-radius: 4px;
      background-color: adjust-lightness($base-color, 40%);
      text-align: center;
      text-shadow: none;
      font-size: .7em;
      p {
        padding: .5em 1em;
      }
    }

   /* PREVIOUS-NEXT LINKS */

    .post-container {
      nav {
        overflow: hidden;
        font-size: 0.75em;
      }
    }

      .newer {
        float: left;
        width: 48%;
      }

      .older {
        float: right;
        width: 48%;
        text-align: right;
      }
