{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <header data-swiftype-index="false" class="site-header">
    <section class="nav-wrapper">
        {% include header.html %}
        {% include navigation.html %}
    </section>
  </header>
  <div class="container">
      {{ content | expand_urls: root_url }}
  </div>
  <footer data-swiftype-index="false" class="footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
