---
layout: default
---

<div class="post-container">
  <article class="regular">
  {% if page.title %}
  <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>

  {% endif %}
    {{ content }}

    <aside class="support">
    <p><strong>Do you want to be in control of your digital shelf?</strong> I’m writing a series of guides on how to organize your digital passwords, photos, and notes. Sign up for the weekly newsletter to stay updated when a new guide is available.</a>  <a href="/digitalshelf/" title="Digital Shelf - Sayz Lim">More details »</a></p>
    <form class="form" action="http://sayzlim.us2.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="ff1398bcc911abf87a3dfe82d">
      <input type="hidden" name="id" value="cc23ae2e4d">
      <input type="text" value="" name="FNAME" class="name" placeholder="First Name" required>
      <input type="email" value="" name="EMAIL" class="email" placeholder="Email Address" required>
      <input type="submit" class="subscribe" value="Sign Up">
    </form>
  </aside>
</div>