.pace .pace-progress {
  background: scale-lightness($base-color, 60%);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: .2em;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}