body {
  color: $text-color;
  -webkit-text-size-adjust: none;
  text-shadow: 0 1px 0 scale-lightness($text-color, 99%);
  font: 1.25em/1.6 $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .6em 0;
  text-align: center;
  font-weight: bold;
  a,
  a:active,
  a:visited {
    display: block;
    padding: 0;
    border: none;
    color: $text-color;
    &:hover {
      border: none;
      color: $hover-color;
    }
  }
}

a,
a:active,
a:visited {
  color: $base-color;
  text-decoration: none;
  transition: all .23s ease-in-out;
}

a:hover { color: $hover-color; }

::selection {
  background-color: $base-color;
  color: scale-lightness($text-color, 95%);
  text-shadow: none;
}

p,
ul,
ol,
pre {
  margin: .5em 0 1.1em;
}


ul,
ol {
  padding-left: 1.2em;
}

ul {
  list-style: square;
}
ol {
  list-style: decimal;
}

ul > li { margin-bottom: .3em; }

figure {
  margin: 0; padding: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .75em; }

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

del {
  text-shadow: none;
}

sup {
  vertical-align: baseline;
  font-size: .75em;
  line-height: 0;
  a, a:hover {
    padding: .2em;
    border-bottom-style: none;
  }
}

blockquote {
  display: block;
  margin: 1em 0;
  padding-left: 1em;
  border-left: solid .2em scale-lightness($text-color, 70%);
  color: scale-lightness($text-color, 35%);
  text-shadow: none;
}

pre {
  display: block;
  white-space: pre;
  font: .7em/1.5em $monospace-font;
}

pre > code,
figure.code {
  display: block;
  overflow: scroll;
  box-sizing: border-box;
  padding: .1em .3em;
  width: 100%;
  border-radius: 2px;
  background-color: scale-lightness($bg-color, -82%);
  color: $code-color;
  text-shadow: none;
}

  pre > code {
    padding: .5em;
  }

  td.code {
    padding: 0 .5em;
  }

  td.gutter {
    padding: 0 .5em;
    color: scale-lightness(shade($code-color, 80%), 75%);
  }

p,
ol,
ul {
  code {
    padding: .2em .6em;
    border: solid 1px scale-lightness($bg-color, -10%);
    border-radius: 3px;
    background-color: scale-lightness($bg-color, -4%);
    vertical-align: baseline;
    text-shadow: none;
    white-space: pre-wrap;
    font-size: .77em;
    font-family: $monospace-font;
  }
}
