// Color Palettes
$citrus: #cf490b;
$teal: #f7f7f7;
$charcoal: #333;
$gold: #bbaf75;
$blueberry: #7e3e69;
$milky-pink: #ff7598;
$cayenne: #fe5561;
$trueblue: #007dd7;
$orange: #ffc48c;
$dirtwhite: #f8f8f0;

// Base Variable
$base-font: Seravek, "Avenir Next", Verdana, sans-serif;
$secondary-font: Verdana, sans-serif;
$monospace-font: "Source Code Pro", Menlo, Monaco, "Courier New", monospace, serif;
$base-color: $trueblue;
$bg-color: $teal;
$text-color: $charcoal;
$code-color: $dirtwhite;
$hover-color: adjust-lightness($base-color, 10%);
$box-shadow: scale-lightness($bg-color, -50%);

// Components Variable
$header-color: $base-color;
$light-color: $bg-color;
