{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<script type="text/javascript">
  var Swiftype = window.Swiftype || {};
  (function() {
    Swiftype.key = 'p5DvqWZFYztMbncqB4sM';
    Swiftype.inputElement = '#st-search-input';
    Swiftype.resultContainingElement = '#st-results-container';
    Swiftype.attachElement = '#st-search-input';
    Swiftype.renderStyle = "new_page";
    Swiftype.disableAutocomplete = false;
    Swiftype.disableEmbedTracking = true;
    Swiftype.resultPageURL = '/search/';

    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = "//swiftype.com/embed.js";
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
  }());
</script>

<div class="ads">
    <!-- Yoggrt Zone Code -->
    <script>
      if (document.documentElement.clientWidth > 1050) {
        document.write('<script type="text/javascript" src="http://cdn.yoggrt.com/yoggrt.js?legacyid=1269432&zoneid=1353&key=008f852b095bcdfc14049bac491770d4&serve=C6SD52Y&placement=sayzlimnet" id="_yoggrt_js"><\/script>');
        document.write('<a href="http://yoggrt.com" id="bsap_aplink">ads by Yoggrt<\/a>');
      }
    </script>
    <!-- End Yoggrt Zone Code -->
</div>
