{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

            <script type="text/javascript">
              var Swiftype = window.Swiftype || {};
              (function() {
                Swiftype.key = 'p5DvqWZFYztMbncqB4sM';
                Swiftype.inputElement = '#st-search-input';
                Swiftype.resultContainingElement = '#st-results-container';
                Swiftype.attachElement = '#st-search-input';
                Swiftype.renderStyle = "overlay";
                Swiftype.disableAutocomplete = true;
                Swiftype.disableEmbedTracking = true;

                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.src = "//swiftype.com/embed.js";
                var entry = document.getElementsByTagName('script')[0];
                entry.parentNode.insertBefore(script, entry);
              }());
            </script>

            <div class="ads">
                <!-- Yoggrt Zone Code -->
                    <script type="text/javascript" src="http://cdn.yoggrt.com/yoggrt.js?legacyid=1269432&zoneid=1353&key=008f852b095bcdfc14049bac491770d4&serve=C6SD52Y&placement=sayzlimnet" id="_yoggrt_js"></script>
                    <a href="http://yoggrt.com" id="bsap_aplink">ads by Yoggrt</a>
                <!-- End Yoggrt Zone Code -->
            </div>

            <!-- GOOGLE ANALYTIC -->
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-3505369-11']);
              _gaq.push(['_trackPageview']);
              setTimeout("_gaq.push(['_trackEvent', '30_seconds', 'read'])",30000);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            <!--  END OF GA CODE -->
