<ul>
    <li><a href="http://feedpress.me/sayzlim">Subscribe</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/wallpaper">Wallpaper</a></li>
    <li><a href="https://twitter.com/sayzlim">Twitter</a></li>
    <li><a href="https://alpha.app.net/sayzlim">App.net</a></li>
</ul>
<form>
  <input type="text" placeholder="Search…" id="st-search-input" class="search-input" />
</form>
<p class="credit">Proudly powered by <a href="http://octopress.org">Octopress</a> and <a href="http://www.namecheap.com/?aff=20710">Namecheap</a>.<p>
<div id="st-results-container"></div>