{% unless page.no_header %}
  <article class="regular">
    {% if index %}
      {% if post.external-url %}
        <h1><a href="{{ post.external-url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %} &#x2192;</a></h1>
      {% else %}
      <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
      {% endif %}
    {% else %}
      {% if page.external-url %}
        <h1><a href="{{ page.external-url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} &#x2192;</a></h1>
      {% else %}
        <h1><a href="{{ root_url }}{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>
      {% endif %}
    {% endif %}
    {% unless page.meta == false %}
      <aside class="meta">
        <a href="{{ root_url }}{{ post.url }}">&#x221E;</a> {% include post/date.html %}{{ time }}
      </aside>
    {% endunless %}
{% endunless %}
{% if index %}
  {{ content | excerpt }}
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
{{ content }}
  <aside class="support">
    <p>Support author by purchasing one of the recommended apps from <a href="http://sayzlim.net/apps" title="Apps Recommendations - Sayz Lim">this page</a>. Feel free to <a href="http://sayzlim.net/contact" title="Contact - Sayz Lim">send me an email</a> if you have any questions, requests, or ideas!</p>
  </aside>
{% endif %}
</article>