.related {
  & > ul {
    padding: 0;
    list-style: none inside;
    li {
      border-left: solid .3em $base-color;
      a {
        display: block;
        box-sizing: border-box;
        padding: .4em;
        border: solid 1px scale-lightness($bg-color, -4%);
        border-left: none;
        background: scale-lightness($bg-color, 50%);
        &:hover {
          border: solid 1px $base-color;
          border-left: none;
          background: $base-color;
          background: $base-color;
          color: $bg-color;
          text-shadow: none;
        }
      }

      $percentage: 15%;

      @for $i from 1 to 5 {
        $clear-color: scale-lightness($base-color, $percentage*$i);
        &:nth-child(#{$i+1}) {
          border-left: solid .3em $clear-color;
          a:hover {
            border: solid 1px $clear-color;
            border-left: none;
            background: $clear-color;
          }
        }
      }
    }
  }
}
